# SYD9DAT - Homework 2 - Grace Palma

### Course Project

<b>SETUP</b>

* Sign up for an AWS account - Username: gracepalma

<b>COMMUNICATION</b>

Imagine you are trying to describe Linear Regression to someone - but they have no programming/maths experience! How would you explain...

<b><U> Linear Regression - the overall process?</U></b>

Linear regression is a method used for identifying the relationship between a predictor and an outcome, the most basic form of linear regression is simple linear regression where a response is predicted based on a single variable. Linear regression methods operate under the assumption that there is a linear relationship between the predictor and the response, this is the assumption that there is direct proportionality betweeen variables that when plotten on a graph, it traces a straight line.

For example, we want to look at the relationship between hours spent studying (predictor) and gpa scores (outcome). We can create a simple linear regression model to identify an approximation of how hours spent studying impact gpa scores.

Simple linear regression uses this equation <b>Y = β0 + β1X</b>

<i>Where Y is the outcome, X is the predictor, β0 and β1 represent two unknown constants/model coefficients for the intercept and the slope. The intercept β0 is the outcome (Y) when the predictor (X) is 0  and the slope β1 is the estimated value or effect of the predictor on the outcome.</i>

For our exampe above the equation would look something like this: 

    GPA score = β0 + β1(Hours spent studying)

Once we've used our training data to get the estimates of β0 and β1 we can now predict gpa scores based on hours spent studying. As previously stated, linear regression assumes direct proportionality between variables.. that means in this model the relationship could either find a direct relationship or an inverse between variables:

In [6]:
from IPython.display import Image
from IPython.core.display import HTML
Image(url= "https://image.slidesharecdn.com/labreportwalkthrough-140918235306-phpapp02/95/lab-report-walk-through-16-638.jpg")

Direct linear relationship in this example would mean that as the number of hours spent on studying increases, GPA scores also increase - ie. those who spent more hours studying had better grade point average scores

and inverse linear relationship in this example mean that as the number of hours spent studying increases, student's gpa scores decreases - ie. the more people study, the worse they scored.

</N>
<B><u>What a p-value is?</u></B>

Hypothesis tests are tests used to measure the validity of a claim that is made about a sample or a population. When performing hypothesis tests, the p-value is a value between 0 - 1 which is used to determine the statistical significance of your results. Drawing back to the example above using a cut-off p-value of 0.05 ..

If we hypothesize that hours spent studying has nothing to do with GPA scores and we find that the p-value we get from our sample is 0.001 our hypothesis will be rejected. Which means that based on our sample it appears that number of hours spent studying does have an impact on GPA scores.

This is because the probability of us mistakenly rejecting our claims that hours spent studying has no impact on GPA scores is low -- much lower than our assigned p-value cut-off (0.001 < 0.05). Simply put there is a low chance of us incorrectly claiming that hours studying is related to GPA scores.

</N>
<B><u>What R-Squared means?</u></B>

Residual sum of squares (RSS) or also known as the sum of squared residuals (SSR) is a statistical measure of how close the data is to the fitted regression line. It is a measure of the variation between the data and the model. 
Hence an RSS that is closer to 1 would indicate a model that tightly fits your data.

<b><U>Read the paper Useful things to know about machine learning.</U></b>

What have we covered so far from this paper?

* Classifiers 
* K-nearest neighbor 
* Logistic regression 
* Decision trees 
* Accuracy/Error rate 
* Squared error 
* Bias & variance 
* Overfitting 
* Hypothesis testing 
* Cross validation 
* Regularisation 

Explain sections 6-13 in your own words.

Section 6: Intuition fails in high dimensions 

* Section 6 explains the curse of dimensionality - this refers to the obstructive effect of having a large number of features/dimensions on many machine learning algorithms and methods. For example, if we find that only 2 dimensions turn out to be relevant in a model that looks at 100 dimensions, noise from all 98 irrelevant dimensions saturates that of the 2 relevant ones which makes making predictions arbitrary. However the same issue still arises even when majority of the dimensions are relevant.. this is because examples look very similar when in high dimensions.

Section 7: Theoretical guarantees are not what they seem 

* In machine learning, there is no certainty in determining the accuracy of a model.. its main purpose is to ensure understanding and conceptualisation of algorithm designs.  Always exercise a level of caution whenever dealing with theoretical guarantees in machine learning because the bounds obtained are often loose. 


Section 8: Feature engineering is the key 

* Machine learning is an iterative process of learning, analyising and modifying data (ie. feature engineering). Feature engineering is an integral step in machine learning because it ensures that the appropriate features are selected for your model.

Section 9: More data beats a cleverer algorithm

* This section explains that as a general rule, a more complex or clever algorithim with less data is often times less effective than a simple algorithm with more data. 

Section 10: Learn many models, not just one 

* The best models and learners often varies from application to application, hence there is a current move towards models that combine many model variations, which has been found to often yeild much better results. Several techniques can be used in creating such models: a) bagging is done by generating random variations of the training data through resampling, b) boosting is done by varrying the weights allocated to the training samples and c) stacking is the process by which a classifiers output becomes the input of a learner which will decide how best to combine them.

Section 11: Simplicity does not imply accuracy 

* Section 11 points out that there is no necessary relationship between the number of parameters used in a model and its tendency to overfit. Simpler hypotheses are preferred not because it leads to more accuracy but rather that simplicity is its own merit.

Section 12: Representable does not imply learnable 

* This section highlights the fact that some functions that are representable cannot always be learned. Some considerations that could impact whether a function is learnable or not are time, data and memory.

Section 13: Correlation does not imply causation 

* In machine learning, we often times deal with observational data rather than experimental data. Observational data do not alway include predictive variables that are controlled by the learner. Hence why it is limited in its ability to make causal inferences. However these predictions can be a useful tool or information to further investigate potential cause.


<b><U>Machine Learning</U></b>
Describe 3 ways we can select what features to use in a model.

1. Domain knowldge on a specific field or topic can help dictate which features may be the most suitable to use in a model
2. By looking at the correlation between features using scatterplots and correlation coefficients  
2. Lasso Regularisation 
3. Look at the significant proportion of variable variance

### Course Project
* Create a github repository for your project and share it with Allen and Kieran over Slack.
* Load the data you have gathered for your project into Python and run some summary statistics over the data. Are there any interesting features of the data that jump out?
* Create some data visualisations that explore some aspect of your data set.
* Are there any regresion or clustering techniques you could use in your project? Write them down (with the corresponding scikit learn function) and what you think you would get out of it. Try a preliminary model, if you get a chance (you can choose a small subset of features to begin with).

In [11]:
import numpy as np
import pandas as pd

In [4]:
# graphic and data viz tools
import matplotlib.mlab as mlab
import plotly.plotly as plotly
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
# upload data file
df = pd.read_csv("~/Documents/GMTPalma/Campaign_Example.csv")
df.head(10)

,collection_index,tag_version,collector_version,loader_version,tag_id,account_id,event_type,sub_event_type,event_id,collector_hostname,...,location_source,longitude,latitude,transaction_at,transaction_type_id,transaction_subtype_id,transaction_value,currency_code,transaction_id,data_index
0,"2,017,071,506",1.6.9,1.6.9,1.2.2,nivea,nivea,campaign,view,bf5d9a6d-287d-4baf-8859-431f1c3f18fd,ip-172-31-36-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,017,071,500"
1,"2,017,071,506",1.6.9,1.6.9,1.2.2,nivea,nivea,campaign,view,dc177f4c-a216-4b2a-9652-8c044337c89a,ip-172-31-14-226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,017,071,500"
2,"2,017,071,507",1.6.9,1.6.9,1.2.2,nivea,nivea,campaign,view,2dd1f4df-d8bf-4f65-911e-ee060078c72c,ip-172-31-14-226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,017,071,500"
3,"2,017,071,507",1.6.9,1.6.9,1.2.2,nivea,nivea,campaign,view,4f96a295-e7f6-4b7b-8d2f-02e17bc8b3fc,ip-172-31-36-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,017,071,500"
4,"2,017,071,523",1.6.9,1.6.9,1.2.2,nivea,nivea,campaign,view,3d2f8ca7-741b-4855-aa34-3d25b53719bb,ip-172-31-36-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,017,071,500"
5,"2,017,071,523",1.6.9,1.6.9,1.2.2,nivea,nivea,campaign,view,884d8b12-f737-461f-a1ee-67388fe9ec26,ip-172-31-36-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,017,071,500"
6,"2,017,071,505",1.6.9,1.6.9,1.2.2,nivea,nivea,campaign,view,3cd1d24c-a688-41cf-9bd1-071734d746d4,ip-172-31-36-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,017,071,500"
7,"2,017,071,506",1.6.9,1.6.9,1.2.2,nivea,nivea,campaign,view,1f42a9ea-c775-488e-8efd-2458f82dd477,ip-172-31-14-226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,017,071,500"
8,"2,017,071,523",1.6.9,1.6.9,1.2.2,nivea,nivea,campaign,view,ccceab5b-7441-45f3-85e3-62dd13b8fff9,ip-172-31-14-226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,017,071,500"
9,"2,017,071,505",1.6.9,1.6.9,1.2.2,nivea,nivea,campaign,view,c865b5aa-b47e-4d31-b4f7-1164083dab53,ip-172-31-36-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,017,071,500"

In [5]:
df.describe()

,utc_month,utc_day,utc_hour,user_month,user_day,user_hour,post_code,isp_name,org_name,domain,...,location_at,location_source,longitude,latitude,transaction_at,transaction_type_id,transaction_subtype_id,transaction_value,currency_code,transaction_id
count,142.0,142.0,142.000000,142.0,142.000000,142.000000,142.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,7.0,15.0,9.654930,7.0,15.225352,16.246479,4074.887324,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,7.169721,0.0,0.419293,3.110692,2892.796966,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,7.0,15.0,0.000000,7.0,15.000000,10.000000,110.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.0,15.0,6.000000,7.0,15.000000,17.000000,1150.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,7.0,15.0,6.000000,7.0,15.000000,18.000000,3330.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,7.0,15.0,7.000000,7.0,15.000000,18.000000,7010.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,7.0,15.0,23.000000,7.0,16.000000,20.000000,9810.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN